<div class="row">
    <div class="col-md-12 text-center" >
        <h1 class="text-info"> not found </h1>
        <hr />
        <a class="btn btn-success"asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>
